/*
Author: Gerard Cuadras
Author URI: http://gerardcuadras.com
Version: 0.1
*/


ul {
  list-style-type: none;
}

.p{
  font-family: Arial;
}

.box{
  width: auto;
}

.text-right {
  float:right;
  width: 70%;
  margin-right: 5%;
  margin-bottom: 10%;
}

.text-left {
  float:left;
  width: 70%;
  margin-left: 5%;
  margin-bottom: 10%;
}
.parent-left1 {
  float: left;
  margin: 30px auto;
  background-image: url(../img/profile_small.jpg);
  background-size: 100px;
  width: 100px;
  height: 100px;
  border: 2px #aaa solid;
  border-radius: 100px;
  transition: transform 0.2s cubic-bezier(0, 1.2, 1, 1.8);
}
.parent-left1:hover {
  transform: scale(1.2, 1.2);
  background: url(../img/profile_small.jpg), #e99;
  background-size: 100px;
  background-blend-mode: multiply, normal;
  border: 2px #a55 solid;
}
.parent-left1:active {
  transform: scale(0.8, 0.8);
}

.parent-right2 {
  float: right;
  margin: 30px auto;
  margin-right: 30px;
  background-image: url(../img/profile_small.jpg);
  background-size: 100px;
  width: 100px;
  height: 100px;
  border: 2px #aaa solid;
  border-radius: 100px;
  transition: transform 0.2s cubic-bezier(0, 1.2, 1, 1.8);
}
.parent-right2:hover {
  transform: scale(1.2, 1.2);
  background: url(../img/profile_small.jpg), #e99;
  background-size: 100px;
  background-blend-mode: multiply, normal;
  border: 2px #a55 solid;
}
.parent-right2:active {
  transform: scale(0.8, 0.8);
}


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 100%;
}

p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

h1, h2, h3 {
  font-weight: 700;
  margin-bottom: .35em;
}

h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2em;
  margin-top: 1em;
}

li{
  list-style: none;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding: 10em 2em 10em 2em;
}

#videoheader{
	height: 100vh;
	position: relative;
    top: 0;
    width: 100%;
}


#header{	
	height: 60px;
	position: absolute;
	z-index: 2;
	top: 0px;
	width: 100%;
	background-color: transparent;	
	padding-top: 10px;
	-webkit-transition: background .1s;
    -moz-transition: background .1s;
    -webkit-transition: background .1s; 
	transition: background .1s;
}
#header .logo{
	float:	left;
	padding-left: 10px;
	font-size: 36px;
}

#header .logofont{
	display: none;
}

#header .logofont, #headertitle, .sectiontitle{
	font-family: Roboto;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.64);
	font-weight: 400;
	font-size: 40px;
}

#header .logofont .thin, #headertitle .thin, .sectiontitle .thin{
	font-family: Roboto;
	font-style: inherit;
	font-weight: 200;
}

#header .social{
	float: right;
	margin-right: 40px;	
}

#header .social .socialico{
	margin: 5px;
	color: rgba(255, 255, 255, 0.64);
	font-size: 30px;
}

#headertitle{
    z-index: 5;
    position: absolute;
    text-align: center;
	color: rgba(255, 255, 255, 0.64);
    text-decoration: none;
    font-size: 8vw;
    z-index: 5;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s; 
	transition: opacity .2s;
}

#waypoint1{
	position: absolute;
	top: 50px;
	width: 100%;
	z-index: 2;
}

.fullwidth{
	
	width: 100%;
	height: auto;
	padding: 50px 30px;
	
}

.clearfloat{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* SECTIONS */

.sectiontitle{
	text-align: center;
}

.sectioncontent{
    padding: 20px 40px;
}

.leftbox{
	width: 40%;
	float: left;
}

.rightbox{
	width: 59%;
	float: right;
}

.aboutme{
	background-color: #45652C;
	color: #fafafa;
	overflow: auto;
	box-shadow: inset 0 20px 20px -20px #000000;;
}

.aboutme .rightbox p{
	padding-left: 20px;
}

.aboutme .sectiontitle{
	color: #fafafa;
}

.skills{
	background-color: #E2E2BC;
	color: #fafafa;
	box-shadow: inset 0 20px 20px -20px #000000;;
}

.skills .sectiontitle{
	color: #fafafa;
}

.contact{
	background-color: #a94442;
	color: #fafafa;
	box-shadow: inset 0 20px 20px -20px #000000;;
}

.contact .sectiontitle{
	color: #fafafa;
}

/*
Prices
*/


body {
  background: #E5E5E5;
  font-family: 'Arial', serif;
  font-size: 10pt;
  color: #AAA;
  line-height: normal;
  text-align: center;
  font-smoothing: antialiased;
}

#container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 800px;
  padding: 25px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#container .frame {
  flex: 1 175px;
  margin: 5px;
  border-radius: 5px;
  background: #FFF;
  overflow: hidden;
}
#container .frame .title {
  height: 60px;
  padding: 0 10px;
  display: block;
  font-family: 'Fjalla One', sans-serif;
  font-size: 25pt;
  color: #FFF;
  font-weight: bold;
  line-height: 60px;
  text-transform: uppercase;
}
#container .frame .inset {
  padding: 15px;
}
#container .frame .inset .price {
  height: 50px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 25pt;
  font-weight: bold;
  line-height: 50px;
}
#container .frame .inset .price sup {
  top: -10px;
  font-size: 14pt;
  line-height: normal;
}
#container .frame .inset .per {
  font-family: 'Fjalla One', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase;
}
#container .frame .inset .desc {
  margin-top: 15px;
}
#container .frame .data {
  padding: 5px;
  color: #FFF;
}
#container .frame .data li {
  margin: 10px;
}
#container .frame .purchase {
  cursor: pointer;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  background: transparent;
  font-family: 'Fjalla One', sans-serif;
  font-size: 15pt;
  font-weight: bold;
  line-height: 50px;
  font-smoothing: antialiased;
}
#container .frame.basic .title, #container .frame.basic .data {
  background: #83BF00;
}
#container .frame.basic .price, #container .frame.basic .per, #container .frame.basic .purchase {
  color: #83BF00;
}
#container .frame.normal .title, #container .frame.normal .data {
  background: #0056BF;
}
#container .frame.normal .price, #container .frame.normal .per, #container .frame.normal .purchase {
  color: #0056BF;
}
#container .frame.premium .title, #container .frame.premium .data {
  background: #BF0000;
}
#container .frame.premium .price, #container .frame.premium .per, #container .frame.premium .purchase {
  color: #BF0000;
}
