h1.team-h1 {
  margin: 0;
  position: absolute;
  top: -16px;
  text-align: center;
  left: 40%;
  font-family: georgia;
  font-style: italic;
  background-color: white;
  padding: 0px 20px;
  color: #222; 
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.team-container {
  max-width: 1000px;
  margin: auto;
  border-top: 1px #e9e9e9 solid;
  border-bottom: 1px #e9e9e9 solid;
  padding-top: 5em;
  padding-bottom: 5em;
  margin-top: 3em;
  position: relative;
}

.team-member {
  width: 16%;
  display: inline-block;
  text-align: center;
  margin-right: 5%;
}

.team-member:last-child {margin-right: 0;}


.team-member span,
.team-member h3 {
  max-width: 200px;
  font-family: sans-serif;
  letter-spacing: -1px;
}

.team-member h3 {
  color: #FAFAFA;
}

.email {
  color: #EA2678;
  
}

.team-member span {
  display: block;
 
}
.team-photo {
  border-radius: 50%;
  text-align: center;
  margin: auto;
  max-width: 100%;
  height: auto;
  transition: 0.1s transform ease-in-out;
}


.team-photo:hover {
  transform: scale(0.9);
  cursor: pointer;
}


/* code for phone layout */
@media (max-width:850px){
  .team-member {
    width:25%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 40px;
    
  }
  
}



@media (max-width:650px){
  .team-member {
    float: none;
    display: block;
    margin: 50px auto;
    width: 100%;
    text-align: center;
  }
  
  .team-member h3,
  .team-member span {
    margin: 15px auto;
  }
}



* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 100%;
}

p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

h1, h2, h3 {
  font-weight: 700;
  margin-bottom: .35em;
}

h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2em;
  margin-top: 1em;
}

li{
  list-style: none;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding: 10em 2em 10em 2em;
}

#videoheader{
	height: 100vh;
	position: relative;
    top: 0;
    width: 100%;
}


#header{	
	height: 60px;
	position: absolute;
	z-index: 2;
	top: 0px;
	width: 100%;
	background-color: transparent;	
	padding-top: 10px;
	-webkit-transition: background .1s;
    -moz-transition: background .1s;
    -webkit-transition: background .1s; 
	transition: background .1s;
}
#header .logo{
	float:	left;
	padding-left: 10px;
	font-size: 36px;
}

#header .logofont{
	display: none;
}

#header .logofont, #headertitle, .sectiontitle{
	font-family: Roboto;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.64);
	font-weight: 400;
	font-size: 40px;
}

#header .logofont .thin, #headertitle .thin, .sectiontitle .thin{
	font-family: Roboto;
	font-style: inherit;
	font-weight: 200;
}

#header .social{
	float: right;
	margin-right: 40px;	
}

#header .social .socialico{
	margin: 5px;
	color: rgba(255, 255, 255, 0.64);
	font-size: 30px;
}

#headertitle{
    z-index: 5;
    position: absolute;
    text-align: center;
	color: rgba(255, 255, 255, 0.64);
    text-decoration: none;
    font-size: 8vw;
    z-index: 5;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s; 
	transition: opacity .2s;
}

#waypoint1{
	position: absolute;
	top: 50px;
	width: 100%;
	z-index: 2;
}

.fullwidth{
	
	width: 100%;
	height: auto;
	padding: 50px 30px;
	
}

.clearfloat{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* SECTIONS */

.sectiontitle{
	text-align: center;
}

.sectioncontent{
    padding: 20px 40px;
}

.leftbox{
	width: 40%;
	float: left;
}

.rightbox{
	width: 59%;
	float: right;
}

.aboutme{
	background-color: #45652C;
	color: #fafafa;
	overflow: auto;
	box-shadow: inset 0 20px 20px -20px #000000;;
}

.aboutme .rightbox p{
	padding-left: 20px;
}

.aboutme .sectiontitle{
	color: #fafafa;
}

.skills{
	background-color: #E2E2BC;
	color: #fafafa;
	box-shadow: inset 0 20px 20px -20px #000000;;
}

.skills .sectiontitle{
	color: #fafafa;
}

.contact{
	background-color: #a94442;
	color: #fafafa;
	box-shadow: inset 0 20px 20px -20px #000000;;
}

.contact .sectiontitle{
	color: #fafafa;
}

.methodology{
  background-color: #a94442;
  color: #fafafa;
  box-shadow: inset 0 20px 20px -20px #000000;;
}

.methodology .sectiontitle{
  background-color: #E2E2BC;
  color: #fafafa;
  box-shadow: inset 0 20px 20px -20px #000000;;
}

/*
Prices
*/


body {
  background: #E5E5E5;
  font-family: 'Arial', serif;
  font-size: 10pt;
  color: #AAA;
  line-height: normal;
  text-align: center;
  font-smoothing: antialiased;
}

#container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 800px;
  padding: 25px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#container .frame {
  flex: 1 175px;
  margin: 5px;
  border-radius: 5px;
  background: #FFF;
  overflow: hidden;
}
#container .frame .title {
  height: 60px;
  padding: 0 10px;
  display: block;
  font-family: 'Fjalla One', sans-serif;
  font-size: 25pt;
  color: #FFF;
  font-weight: bold;
  line-height: 60px;
  text-transform: uppercase;
}
#container .frame .inset {
  padding: 15px;
}
#container .frame .inset .price {
  height: 50px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 25pt;
  font-weight: bold;
  line-height: 50px;
}
#container .frame .inset .price sup {
  top: -10px;
  font-size: 14pt;
  line-height: normal;
}
#container .frame .inset .per {
  font-family: 'Fjalla One', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase;
}
#container .frame .inset .desc {
  margin-top: 15px;
}
#container .frame .data {
  padding: 5px;
  color: #FFF;
}
#container .frame .data li {
  margin: 10px;
}
#container .frame .purchase {
  cursor: pointer;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  background: transparent;
  font-family: 'Fjalla One', sans-serif;
  font-size: 15pt;
  font-weight: bold;
  line-height: 50px;
  font-smoothing: antialiased;
}
#container .frame.basic .title, #container .frame.basic .data {
  background: #45652C;
}
#container .frame.basic .price, #container .frame.basic .per, #container .frame.basic .purchase {
  color: #45652C;
}
#container .frame.normal .title, #container .frame.normal .data {
  background: #5F5F4F;
}
#container .frame.normal .price, #container .frame.normal .per, #container .frame.normal .purchase {
  color: #5F5F4F;
}
#container .frame.premium .title, #container .frame.premium .data {
  background: #A94442;
}
#container .frame.premium .price, #container .frame.premium .per, #container .frame.premium .purchase {
  color: #A94442;
}
